nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav li {
    margin-right: 2rem;
}

.container {
    width: 50%;
    margin: 40px auto;
    text-align: center;
    position: relative;
}

#text-to-type {
    font-size: 24px;
    color: #ccc; /* grey color */
    position: relative; /* added this */
}

#text-to-type span {
    color: #000; /* black color */
}

.caret {
    position: absolute;
    width: 2px;
    background-color: #000;
    height: 24px; /* adjusted height to match text */
    animation: blink 1s infinite;
    z-index: 1; /* added this to ensure cursor visibility */
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#manage-intentions-container {
    display: flex;
}
  
.intention.clickable {
    cursor: pointer; /* change cursor to pointer */
    color: blue; /* change text color */
}

.intention.clickable:hover {
    background-color: #ccc; /* change background color on hover */
}


.entry-for-date {
    box-shadow: 0 0 0 2px black; /* Adjust the last value for thickness */
}